.popular {

  &__body {
    padding: 200px 0;
    
  }

  &__title {
    text-align: center;
    
  }

  &__sub-title {
    text-align: center;
    padding: 25px 0 90px 0;
  }

  &__icons-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 100px 0;
    row-gap: 100px;
    justify-content: center;
    column-gap: 24px;
  }

  &__icon {
    position: relative;
    top: 0;
    width: 392px;
    height: 294px;
    transition: all ease 1s;
    border-radius: 15px;
    border: 2px solid #28303600;
    &:hover{
      top: -20px;
      border: 2px solid #28303699;
      background: rgba(40, 48, 54, 0.6);
      backdrop-filter: blur(50px);
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 17px 38px ;
    border-radius: .8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color:#FF6E30;
    transition: all ease 1s;
    cursor: pointer;
    &:hover{
      color: $title_color;
      @include btn-hover;
    }
    
  }
}


.icon {

  &__body {
    margin: 33px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 64px;
      height: 64px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }
  }

  &__title {
    padding: 0 0 0 93px;
    position: relative;
  }

  &__sub-title {
    padding: 3px 0 30px 93px;
  }

  &__text {
    padding: 0 0 40px 0;
  }

  &__botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__svg-body {
    display: flex;
    gap: 12px;
  }

  &__svg {
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 1s;
    &:hover {
      background: #283036;
      box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
    }
    &:first-child{
      &:hover{
        & svg {
          &  path{
          fill: #FD3B41;
          fill-opacity: 1;
          transition: all 1s ease;
          }
        }
      }
    }
    &:last-child{
      &:hover{
        & svg {
          &  path{
          fill: #d3e200;
          fill-opacity: 1;
          transition: all 1s ease;
          }
        }
      }
    }
  }

  &__button {
    padding: 0.9rem 3.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.55);
    transition: all ease 1s;
    border-radius: 8px;   
    
  }
}

.popular__icon:hover .icon__button{
  background: #FF6E30;
  color: #FFFFFF;
  &:hover{
    @include btn-hover;
  }
}


.icon__figma {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_figma.svg');
  }
}
.icon__sketch {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_sketch.svg');
  }
}
.icon__vsc {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_vsc.svg');
  }
}
.icon__notion {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_notion.svg');
  }
}
.icon__slack {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_slack.svg');
  }
}
.icon__invision {
  &::before{
    content: '';
    background-image: url('../img/popular_icon_invision.svg');
  }
}
